* {
    box-sizing: border-box;
}

header {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}
.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
}